* {
    box-sizing: border-box;
}

html {
    height: 100%;
    box-sizing: border-box;
    font-family: "Caveat", serif;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    background: linear-gradient(90deg, white, #AAD4B9, white);


}


header {
    grid-row: span 1;
    height: 5rem;
    line-height: .9rem;
    justify-content: center;
}

.titleLogo {
    background-image: url(assets/images/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;

}

header>h2 {
    text-align: left;
    margin-left: 2rem;
}

main {
    grid-row: span 11;
    display: grid;

}

.formContainer {
    width: 40vw;
    justify-self: center;
    height: 17rem;
    display: flex;
    justify-content: center;
    background-image: url(assets/images/cork-board.png);
    padding: .5rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.form {
    padding: 2px;
    height: 100%;
    display: grid;
    width: 100%;
}

.titleContainer,
.descriptionContainer,
.deadlineContainer {
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
    display: flex;
    padding: .3rem;
    justify-content: space-between;
    :hover{
        cursor: pointer;
    }
}

.descriptionContainer {
    height: 20vh;
}

#titleBox,
#descriptionBox,
#deadlineBox {
    font-family: "Caveat", serif;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    width: 75%;
}

#descriptionBox {
    padding-top: .5rem;
    /* border-top: 1px solid white; */
}

#titleBox:focus,
#descriptionBox:focus,
#deadlineBox:focus {
    border: transparent;
    border-radius: 3%;
    outline-width: .16rem;
    outline-style: solid;
    outline-color: #1de9b6;
}


.buttonsContainer {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    column-gap: 1rem;
}

.buttonsContainer>button {
    font-family: "Caveat", serif;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 300;
    border-radius: 3px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 1.3rem;

}

.buttonsContainer>button:hover {
    border: none;
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}

.tasksSection {
    padding-top: .5rem;
    padding-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.taskContainer {
    padding: .4rem 0 .4rem 1.2rem;
    background-image: url(assets/images/vintage-crumpled-paper-textured.jpg);
    background-size: cover;
    border-radius: 1%;
    width: 17.5rem;
    height: 12.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 1);
}

.taskContainer:last-child {
    animation: fadeIn 200ms;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.taskTitle {
    font-size: 1.5rem;
    align-self: center;
    border-bottom: 1px solid;
}

.taskDescription {
    font-size: 1.2rem;
    margin-bottom: auto;
    overflow: auto;
}

.taskDeadline {
    border-top: 1px solid;
    margin-right: 1.2rem;
}

.taskNumber {
    position: absolute;
    left: .2rem;
    top: .2rem;
}

.deleteTaskBtn {
    position: absolute;
    display: none;
    background-color: transparent;
    border: none;
    padding: .2rem;
    right: 0rem;
    top: 0rem;
    cursor: pointer;
}

.taskContainer:hover .deleteTaskBtn {
    display: inline-block;
}